.mainWrapper{
    background-color: aquamarine;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;

}
.leftVew{
    background-color: mediumpurple;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 400px;

}

.leftIcon{
    margin-top: 50px;
    font-weight: bolder;
    font-size: 50px;
    display: block;
}

.leftLabel{
    margin-top: 10px;
    font-weight: bolder;
    font-size: 50px;
    display: block;
}

.leftWins{
    margin-top: 40px;
    font-size: 40px;
    display: block;

}



.centerVew{
    background-color: mediumorchid;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 400px;
    right: 400px;


}

.centerTitle{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 60px;
    display: block;


}
.centerLabel{
    margin-bottom: 100px;
    margin-top: 20px;
    font-size: 30px;
    display: block;
}



.gameBoard{
    width: 100%;
    position: absolute;
    height:600px;
    display:block;
}

.rightVew{
    background-color: mediumpurple;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
}
.rightIcon {
    margin-top: 50px;
    font-weight: bolder;
    font-size: 50px;
    display: block;
}
.rightLabel{
    margin-top: 10px;
    font-weight: bolder;
    font-size: 50px;
    display: block;
}

.rightWins {
    margin-top: 40px;
    font-size: 40px;
    display: block;
}


.hard {
    border-radius: 10px;
    margin-top: 20px;
    display: block;
    background-color: mediumpurple;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}
.buttonLabel {
    font-size: 22px;
    display: block;
    cursor: pointer;
}
.normal {
    border-radius: 10px;
    margin-top: 20px;
    display: block;
    background-color: mediumpurple;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}
.hidden {
    display: none !important;
}
.icons{
    font-size: 22px;
    display: block;
    cursor: pointer;
}
.win {
    font-size: 22px;
    display: block;
    cursor: pointer;
}
.rock{
    font-weight: bolder;
    font-size: 80px;
    display: inline-block;
    cursor: pointer;
}
.scissors{
    font-weight: bolder;
    font-size: 80px;
    display: inline-block;
    cursor: pointer;
}
.paper{
    font-weight: bolder;
    font-size: 80px;
    display: inline-block;
    cursor: pointer;
}

.virus {
    margin-right: 40px;
    font-weight: bolder;
    font-size: 80px;
    display: inline-block;
    cursor: pointer;
}
.dragon {
    margin-left: 40px;
    font-weight: bolder;
    font-size: 80px;
    display: inline-block;
    cursor: pointer;
}

.blockClass {
    display: block;
}
.backButton{
    border-radius: 10px;
    margin-top: 20px;
    display: block;
    background-color: mediumpurple;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}